.hero-list {
  width: 50%;
  height: max-content;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  border: 1px solid lighten($color: #333, $amount: 5);

  &__item {
    padding: 15px;
    border-bottom: 1px solid lighten($color: #333, $amount: 5);
    cursor: pointer;

    &:hover {
      background-color: lighten($color: #333, $amount: 5);
    }

    &:last-child {
      border: none;
    }

    .badge {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #555;
      margin-right: 10px;
    }

    &--error {
      .badge {
        background-color: #ef4136;
      }
    }

    &--success {
      .badge {
        background-color: #4caf50;
      }
    }
  }
}
