*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: #fafafa;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
}

.result {
  background-color: #333;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;

  &__title {
    font-size: 60px;
    text-align: center;
    padding-top: 80px;
  }

  &__description {
    text-align: center;
    padding: 10px 0 30px;
    border-bottom: 1px solid lighten($color: #333, $amount: 5);
  }

  &__btn {
    display: block;
    margin: 50px 0 20px;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ef4136;
    font-size: 20px;
    color: #fff;

    &:hover {
      background-color: lighten($color: #ef4136, $amount: 5);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
  }
}
