*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: #fafafa;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.btn-next {
  display: block;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ef4136;
  font-size: 20px;
  color: #fff;

  &:hover {
    background-color: lighten($color: #ef4136, $amount: 5);
  }

  &:disabled {
    background-color: #333;
    border: 1px solid lighten($color: #333, $amount: 5);
    cursor: default;
    color: darken($color: #fff, $amount: 35);
  }
}
