.header {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-top: 20px;
  }

  &__logo {
    img {
      width: 160px;
      height: 100%;
    }
  }

  &__score {
    font-size: 24px;

    @media (max-width: 425px) {
      font-size: 20px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    width: calc(100% / 6);
    text-align: center;
    padding: 10px 0;
    max-height: 40px;
    background-color: #f44336;
    text-transform: capitalize;

    @media (max-width: 768px) {
      width: calc(100% / 3);
    }

    @media (max-width: 425px) {
      width: calc(100% / 2);
    }

    @media (max-width: 320px) {
      width: 100%;
    }

    &--active {
      background-color: lighten($color: #f44336, $amount: 10);
    }

    &--full {
      width: 100%;
    }
  }
}
